# nets2 

## exocomet models
272-candidates-npy/
data/
models/
catalogs/
optuna_study.db

## folders
plots*
notebooks/*.png
cnn-models*
notebooks/grant-test/
outputs/
test-lcs
logs/
modelplots/



## stella stuff that i don't need
docs/

## misc
*.pkl
__pycache__
*/__pycache__
*/*/__pycache__
stella.egg-info
docs/_build
build
dist
.DS_Store
build
dist
.cache/
.coverage
.eggs
.ipynb_checkpoints
*.so
*.cppimporthash
.rendered.*
*.egg-info
.idea/
.gitignore.swp

