# nets2 

## exocomet models
models/
models2/

## stella stuff that i don't need
docs/
figures/

## misc
__pycache__
*/__pycache__
*/*/__pycache__
stella.egg-info
docs/_build
build
dist
.DS_Store
build
dist
.cache/
.coverage
.eggs
.ipynb_checkpoints
*.so
*.cppimporthash
.rendered.*
*.egg-info
