# nets2 

## exocomet models
272-candidates-npy/
data/
models/
catalogs/
optuna_study.db

## folders
plots*
cnn-models-*
notebooks/*.png
notebooks/grant-test/
notebooks/gradcam_results
outputs/
logs/
modelplots/
testdata/
catalogs*
model*
inj-rec*
*.tar.gz

## stella stuff that i don't need
docs/

## misc
*.pkl
__pycache__
*/__pycache__
*/*/__pycache__
stella.egg-info
docs/_build
build
dist
.DS_Store
build
dist
.cache/
.coverage
.eggs
.ipynb_checkpoints
*.so
*.cppimporthash
.rendered.*
*.egg-info
.idea/
.gitignore.swp

